.body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.h2 {
  text-align: center;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.tabs li {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
}

.tabs li.active {
  background-color: #fff;
  border-bottom: none;
}

.tab-content {
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  padding: 20px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.component {
  margin-bottom: 15px;
}

.hide {
  display: none;
}

/* Custom Styling for Components */
.component label {
  margin-right: 5px;
}

.component select,
.component input[type="text"],
.component input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.component button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.when-block {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.when-block h4 {
  margin: 5px 0;
}

.when-block .remove-when-btn {
  margin-bottom: 5px;
  background-color: #dc3545;
}

.when-block .remove-when-btn:hover {
  background-color: #c82333;
}

/* Custom Styling for WHEN Options */
.component.app-state-options,
.component.whatfix-callbacks-options,
.component.custom-event-options {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mutation-options,
.repeats-for-options {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.mutation-options label,
.repeats-for-options label {
  margin-bottom: 5px;
}

/* Additional Custom Styling for Custom Event */
.component.custom-event-options {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.component.where-components {
  display: flex;
  align-items: center;
}

.component.where-components label {
  margin-right: 10px;
  /* Added margin between label and select/input */
  flex: 0 0 auto;
}

.component.where-components select,
.component.where-components input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1 1 auto;
  min-width: 0;
  margin-right: 10px;
  /* Added margin between select/input elements */
}

.component #and-or {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 100px;
}

/* Style for Add WHERE button */
#add-where-btn {
  padding: 8px 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#add-where-btn:hover {
  background-color: #218838;
}

/* Additional styling for WHERE blocks */
.where-block {
  margin-bottom: 15px;
  margin-top: 15px;
}

.remove-where-btn {
  background-color: #dc3545 !important;
}

/* Additional styling for WHERE blocks */
.where-block {
  position: relative;
}

/* Styling for AND/OR options */
.where-components .and-or-options {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.and-or-options label {
  margin-right: 5px;
}

.sequence {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.sequence::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  width: 20px;
  height: 2px;
  background-color: #ccc;
  transform: translateY(-50%);
}

.sequence:first-child::before {
  display: none;
}

/* Styling for Components in a Sequence */
.sequence .component {
  margin-right: 10px;
}

.processor-block {
  flex: 1;
}

.fetcher-component,
.action-component {
  flex: 0.7;
}

.processor-dropdown {
  display: flex;
  align-items: center;
}

.add-processor-btn,
.remove-processor-btn {
  padding: 4px 8px !important;
  background-color: #dc3545 !important;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

.add-processor-btn {
  background-color: #28a745 !important;
}

.processor-label-addition {
  display: flex;
    justify-content: end;
    align-items: center;
}

.component.hide {
  display: none;
}

.properties {
  display: flex;
  flex-direction: column;
}

.delay {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.retry {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.increase-decrease {
  display: flex;
}

.increase-decrease > input {
  margin-right: 5px;
}

.trigger-point-options {
  display: flex;
  margin: 10px 0;
}

.trigger-point-options > select {
  margin-right: 5px;
}

.and-or-component {
  display: flex;
  width: 50%;
}

.and-or-dropdown {
  margin-right: 10px;
}

.filter-row {
  width: 50%;
  margin: 5px 0;
}

.add-filter-btn {
  margin-right: 5px;
  background-color: #28a745 !important;
}

.filter-dropdown {
  margin: 5px 0;
}

.filter-row .and-or-component {
  width: 100%;
}

.trigger-point {
  margin-top: 10px;
}

.filters {
  margin-top: 20px;
}

.remove-filter-btn {
  background-color: #dc3545 !important;
}

.custom-event-options .properties {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.custom-event-options .properties > input {
  width: 35%;
}

.custom-event-filter {
  display: flex;
  margin: 8px 0;
}

.custom-event-filter > div {
  margin-right: 5px;
}

.and-or-component-custom-filter {
  display: flex;
  width: 30%;
}

.whatfix-callbacks-options .properties {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.whatfix-callbacks-options .properties > select {
  width: 40% !important;
}

.whatfix-callbacks-options .trigger-point {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.whatfix-callbacks-options .trigger-point > select {
  width: 40% !important;
}
